# Dependencies
node_modules/

# Production builds & compile artifacts
dist/
public/
*.exe
*.tsbuildinfo

# Environment & Local Configuration
.env
.env.*
!.env.example
config.json
system.txt

# Databases & SQLite files
*.db
*.db-*
*.sqlite
*.sqlite-*

# Logs
logs/
*.log

# Editor & OS artifacts
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
