.env
test.py
venv/
.venv/
bot.log
settings.json
llama.py
start.sh
pork/
vision.py
Ket.ai.session
debug.log
Ket.ai.session-journal
whisper/ggml-large-v3.bin
whisper/whisper.exe
test2.py
__pycache__/
