{
  "owner": "owner id",
  "bot": "bot name",
  "token": "bot token",
  "debug_token": "optional. debug token for testing purposes",
  "api_url": "http://localhost:11434",
  "llm_model": "phi3",
  "vision_model": "phi3-vision",
  "debug": false,
  "lite": false,
  "admins": [
    123456789,
    123456789,
    123456789
  ],
  "users": [
    123456789,
    123456789,
    123456789
  ],
  "groups": [
    -100123456789,
    -100123456789,
    -100123456789
  ]
  "gen_commands": [
    "zirlamıcan",
    "ket",
    "sor",
    "ask"
  ],
  "board": [
    "Raspberry Pi 4"
  ]
}